---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import CenterXy from "../components/center-xy.astro";
---

<Layout title="Submit a key">
  <CenterXy>
    <form
      action="((%u))api/submit"
      method="post"
      class="flex max-w-full flex-col"
    >
      <label for="key" class="text-xl font-bold"
        >Paste your pgp keyblock here:</label
      >
      <textarea
        name="key"
        id="key-input"
        cols="65"
        rows="20"
        class="input mt-3 resize-none"
        placeholder="-----BEGIN PGP PUBLIC KEY BLOCK-----"
        required></textarea>
      <button type="submit" class="button mt-6 self-end">Submit</button>
    </form>
  </CenterXy>
</Layout>
