---
import Layout from "../layouts/Layout.astro";
import CenterXy from "../components/center-xy.astro";
---

<Layout title="Success!">
  <CenterXy>
    <h1 class="text-4xl font-bold">((%m))</h1>
  </CenterXy>
</Layout>
